<!DOCTYPE html>
<html>

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WXRH9C');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf8" />
  <title>{{title}}</title>
  <meta name="description" content="The InfluxDB API provides a programmatic interface for interactions with InfluxDB {{templateOptions.version}}.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png" sizes="32x32">

  <meta name="google-site-verification" content="_V6CNhaIIgVsTO9max_ECw7DUfPL-ZGE7G03MQgEGMU" />

  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500,500i,700,700i|Roboto:400,400i,700,700i|Rubik:400,400i,500,500i,700,700i" rel="stylesheet">{{/unless}}
  {{{redocHead}}}
  <link rel="stylesheet" type="text/css" href="/api.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXRH9C" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="loading">
    <div class="spinner"></div>
  </div>
  <div id="influx-header">
    <a class="back" href="/influxdb/{{templateOptions.version}}/">InfluxDB <span class="version">{{templateOptions.titleVersion}}</span> Docs</a>
    <a class="btn" href="https://github.com/influxdata/influxdb/issues/new/choose/" target="_blank">Submit API issue</a>
  </div>
  {{{redocHTML}}}
  <script type="text/javascript">
    function removeFadeOut( el, speed ) {
      var seconds = speed/1000;
      el.style.transition = "opacity "+seconds+"s ease";
      el.style.opacity = 0;
      setTimeout(function() {
          el.parentNode.removeChild(el);
      }, speed);
    }
    removeFadeOut(document.getElementById('loading'), 500);
  </script>
</body>

</html>
