<html>

  <head>
    <!-- Google Tag Manager -->
    <script>window.location.hostname.endsWith('influxdata.com') &&
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new
      Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WXRH9C');</script>
    <!-- End Google Tag Manager -->

    <meta charset='utf8' />
    <title>{{title}}</title>
    <meta name='description' content='{{templateOptions.description}}' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link
      rel='shortcut icon'
      href='/img/favicon.png'
      type='image/png'
      sizes='32x32'
    />

    <meta
      name='google-site-verification'
      content='_V6CNhaIIgVsTO9max_ECw7DUfPL-ZGE7G03MQgEGMU'
    />

    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>
    {{#unless disableGoogleFont}}<link
        href="https://fonts.googleapis.com/css?family=Roboto+Mono:500,500i,700,700i|Roboto:400,400i,700,700i|Rubik:400,400i,500,500i,700,700i"
        rel="stylesheet"
      />{{/unless}}
    {{{redocHead}}}
    <link rel="stylesheet" type="text/css" href="/api.css" />
    <script>
      // Load Kapa AI widget after DOM content is loaded
      document.addEventListener('DOMContentLoaded', function() {
      const askAI = document.createElement('script');
      askAI.type = 'text/javascript';
      askAI.async = true;
      askAI.src = 'https://widget.kapa.ai/kapa-widget.bundle.js';
      
      // Set all data attributes
      askAI.setAttribute('data-website-id', 'a02bca75-1dd3-411e-95c0-79ee1139be4d');
      askAI.setAttribute('data-project-name', 'InfluxDB');
      askAI.setAttribute('data-project-color', '#d30971');
      askAI.setAttribute('data-project-logo', '/img/influx-logo-cubo-white.png');
      askAI.setAttribute('data-modal-disclaimer', 'This AI can access [documentation for InfluxDB, clients, and related tools](https://docs.influxdata.com). Information you submit is used in accordance with our [Privacy Policy](https://www.influxdata.com/legal/privacy-policy/).');
      askAI.setAttribute('data-modal-example-questions', 'How do I write and query data with the {{title}}?, How do I use client libraries for the {{title}}?');
      askAI.setAttribute('data-button-height', '65px');
      askAI.setAttribute('data-button-width', '65px');
      if (window.matchMedia('(max-width: 800px)').matches) {
        // For mobile devices (smaller than 600px)
        askAI.setAttribute('data-button-position-bottom', '130px');
      } else {
        // For larger screens
        askAI.setAttribute('data-button-position-bottom', '20px');
      }
      askAI.setAttribute('data-button-text', 'Ask AI');
      askAI.setAttribute('data-conversation-button-icons-only', 'true');
      askAI.setAttribute('data-font-family', 'Proxima Nova, sans-serif');
      askAI.setAttribute('data-modal-example-questions-col-span', '8');
      askAI.setAttribute('data-modal-full-screen-on-mobile', 'true');
      askAI.setAttribute('data-modal-header-bg-color', '#d30971');
      askAI.setAttribute('data-modal-header-border-bottom', 'none');
      askAI.setAttribute('data-modal-header-padding', '.5rem');
      askAI.setAttribute('data-modal-header-text-color', '#ffffff');
      askAI.setAttribute('data-modal-x-offset', '0');
      askAI.setAttribute('data-modal-y-offset', '0');
      askAI.setAttribute('data-modal-with-overlay', 'false');
      askAI.setAttribute('data-modal-inner-flex-direction', 'column');
      askAI.setAttribute('data-modal-inner-justify-content', 'end');
      askAI.setAttribute('data-modal-inner-max-width', '600px');
      askAI.setAttribute('data-modal-inner-position-left', 'auto');
      askAI.setAttribute('data-modal-inner-position-right', '50px');
      askAI.setAttribute('data-modal-inner-position-bottom', 'calc(2.5rem + 25px)');
      askAI.setAttribute('data-modal-size', '640px');
      askAI.setAttribute('data-modal-title-color', '#fff');
      askAI.setAttribute('data-modal-title-font-size', '1.25rem');
      askAI.setAttribute('data-modal-lock-scroll', 'false');
      
      // Add the script to the document head
      document.head.appendChild(askAI);
      });
    </script>
    </head>

  <body>
    {{! <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Prevent throwing errors when the Google Tag Manager script is blocked
      if (!window.hasOwnProperty('fcdsc')) {
        window.fcdsc = (function() {
          // Return nothing for any function call chained off of fcdsc
          return new Proxy({}, {
            get: function(target, prop) {
              return function() {};
            }
          });
        })();
      }
    });
  </script> }}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-WXRH9C'
        height='0'
        width='0'
        style='display:none;visibility:hidden'
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id='loading'>
      <div class='spinner'></div>
    </div>
    <div id='influx-header'>
      <a class='back' href='/{{templateOptions.product}}/'><span
          class='version'
        >{{templateOptions.productName}}</span>
        Docs</a>
      <a
        class='btn'
        href='https://github.com/influxdata/influxdb/issues/new/choose/'
        target='_blank'
      >Submit API issue</a>
    </div>
    {{{redocHTML}}}
    <script type='text/javascript'>
      function removeFadeOut( el, speed ) { var seconds = speed/1000;
      el.style.transition = "opacity "+seconds+"s ease"; el.style.opacity = 0;
      setTimeout(function() { el.parentNode.removeChild(el); }, speed); }
      removeFadeOut(document.getElementById('loading'), 500);
    </script>
  </body>

</html>